// Settings

$ssp-image-path: '../images' !default;
$ssp-font-path: '../fonts' !default;
$ssp-font-family: 'icomoon' !default;
$ssp-global-radius: 5px !default;
$ssp-global-border-color: #e7e3e3 !default;
$ssp-global-shadow-color: #c1c1c1 !default;
$ssp-infowindow-background: #fdfbec !default;
$ssp-infowindow-border-color: #ccc !default;
$ssp-infowindow-width: 290px !default;
$ssp-infowindow-color: #000 !default;
$ssp-infowindow-font-size: 12px !default;
$ssp-infowindow-shadow-color: #999 !default;
$ssp-dummy-button-background: #eee !default;
$ssp-dummy-button-color: #666 !default;
$ssp-dummy-button-padding: 3px 5px !default;
$ssp-dummy-button-font-size: 12px !default;
$ssp-dummy-button-font-weight: bold !default;
$ssp-dummy-button-border: transparent !default;
$ssp-switch-height: 21px !default;
$ssp-switch-color: #fefefe !default;
$ssp-switch-active-color: #1779ba !default;
$ssp-switch-paddle-color: #fefefe !default;

$ssp-infobutton-background: $ssp-dummy-button-background;
$ssp-infobutton-color: $ssp-dummy-button-color;
$ssp-infobutton-border: $ssp-dummy-button-border;
$ssp-settingsinfo-padding: 4px 7px;

$ssp-settingsbutton-color: $ssp-dummy-button-color;

$ssp-switch-width: $ssp-switch-height * 2;
$ssp-paddle-height: $ssp-switch-height - 8px;
$ssp-paddle-width: $ssp-switch-height - 8px;

$ssp-flex-breakpoint: 600px;


// generated icomoon fonts - contains Facebook, Twitter and Google+

@font-face {
  font-family: $ssp-font-family;
  src:  url('#{$ssp-font-path}/icomoon.eot?gimvlw');
  src:  url('#{$ssp-font-path}/icomoon.eot?gimvlw#iefix') format('embedded-opentype'),
  url('#{$ssp-font-path}/icomoon.ttf?gimvlw') format('truetype'),
  url('#{$ssp-font-path}/icomoon.woff?gimvlw') format('woff'),
  url('#{$ssp-font-path}/icomoon.svg?gimvlw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $ssp-font-family !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-cog:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e903";
}

// Mix-Ins
@mixin help-info() {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: $ssp-infowindow-width;
  padding: 10px 15px;
  margin: 0;
  font-size: $ssp-infowindow-font-size;
  line-height: 16px;
  font-weight: bold;
  border: 1px solid $ssp-infobutton-border;
  -moz-border-radius: $ssp-global-radius;
  -webkit-border-radius: $ssp-global-radius;
  border-radius: $ssp-global-radius;
  -moz-box-shadow: 0 3px 4px $ssp-infowindow-shadow-color;
  -webkit-box-shadow: 0 3px 4px $ssp-infowindow-shadow-color;
  box-shadow: 0 3px 4px $ssp-infowindow-shadow-color;
  background-color: $ssp-infowindow-background;
  color: $ssp-infowindow-color;
  z-index: 500;
}


// General styles
.social_share_privacy_area {

  clear: both;
  margin: 20px 0 !important;
  list-style-type: none;
  padding: 0 !important;
  width: auto;
  @media screen and (min-width: $ssp-flex-breakpoint) {
	display: flex;
	justify-content: space-between;
  }


  li {

	@media screen and (max-width: $ssp-flex-breakpoint) {
	  margin-right: 20px;
	  margin-bottom: 20px;
	}

	height: 21px;
	float: left;

	.dummy_btn {
	  float: left;
	  margin: 0 0 0 10px;
	  cursor: pointer;
	  padding: 0;
	  height: inherit;
	}
	div iframe {
	  overflow: hidden;
	  height: inherit;
	  width: inherit;
	}

	.switch {
	  display: inline-block;
	  overflow: hidden;
	  float: left;
	  padding: 0;
	  cursor: pointer;

	  position: relative;
	  outline: 0;
	  color: $ssp-switch-color;
	  user-select: none;

	  .switch-input {
		position: absolute;
		margin-bottom: 0;
		opacity: 0;

		&:checked {
		  ~ .switch-paddle {
			background: $ssp-switch-active-color;

			&:after {
			  left: $ssp-switch-width - $ssp-paddle-width - 4px;
			}

		  }
		}
		+ label {
		  cursor: pointer;
		  display: inline-block;
		  vertical-align: baseline;
		  margin: 0;
		}
	  }

	  .switch-paddle {
		width: $ssp-switch-width;
		height: $ssp-switch-height;

		.show-for-sr {
		  position: absolute !important;
		  width: 1px;
		  height: 1px;
		  padding: 0;
		  overflow: hidden;
		  clip: rect(0, 0, 0, 0);
		  white-space: nowrap;
		  clip-path: inset(50%);
		  border: 0;
		}

		&:after {
		  position: absolute;
		  top: 4px;
		  left: 4px;
		  display: block;
		  width: $ssp-paddle-width;
		  height: $ssp-paddle-height;
		  transform: translate3d(0, 0, 0);
		  border-radius: 0;
		  background: $ssp-switch-paddle-color;
		  transition: all 0.25s ease-out;
		  content: '';
		}
	  }
	}
	&.help_info {
	  position: relative;

	  .info {
		@include help-info();
	  }
	  &.display .info {
		display: block;
	  }
	  &.info_off.display .info {
		display: none;
	  }
	}

	.help_info {
	  .info {
		@include help-info();
	  }

	  &.icon {
		.info {
		  left: -243px;
		  width: 350px;
		}
		&.display {
		  .info {
			display: block;
		  }
		}

		background-color: $ssp-infobutton-background;
		color: $ssp-infobutton-color;

		position: relative;
		display: inline-flex;
		border: 1px solid $ssp-dummy-button-border;
		border-right-width: 0;
		-moz-border-radius: $ssp-global-radius 0 0 $ssp-global-radius;
		-webkit-border-radius: $ssp-global-radius 0 0 $ssp-global-radius;
		border-radius: $ssp-global-radius 0 0 $ssp-global-radius;
		margin: 0;
		padding: $ssp-settingsinfo-padding;
		font-size: $ssp-dummy-button-font-size;
	  }

	}


	&.settings_info {

	  position: relative;
	  top: -2px;

	  @media screen and (min-width: 630px) {
		top: -7px;
	  }

	  .settings_info_menu {
		display: block;

		background-color: $ssp-infobutton-background;
		border: 1px solid $ssp-infobutton-border;
		-moz-border-radius: $ssp-global-radius;
		-webkit-border-radius: $ssp-global-radius;
		border-radius: $ssp-global-radius;

		left: 0;

		top: 0;
		width: 135px;

		margin: 0;
		padding: 0;

		&.on {
		  .help_info.icon {
			border-top-width: 0;
			border-left-width: 0;
		  }

		  .settings {
			border-top-width: 0;
		  }
		}

		&.off {
		  border-width: 0;
		  -moz-box-shadow: none;
		  -webkit-box-shadow: none;
		  box-shadow: none;
		  background-color: transparent;

		  form {
			display: none;
			margin: 0;
			padding: 0;
		  }

		}


		.settings {
		  display: inline-flex;
		//  background: #fff url(#{$ssp-image-path}/ssp_sprite.png) no-repeat -35px -40px scroll;
		  border: 1px solid $ssp-infobutton-border;


		  border-left: 1px solid #ddd;
		  margin: 0;
		  padding: $ssp-settingsinfo-padding;
		  background-color: $ssp-dummy-button-background;
		  .icon-cog {
			font-size: $ssp-dummy-button-font-size;
			color: $ssp-settingsbutton-color;
		  }
		}

		form  {
		  margin: 0;

		  fieldset {
			border-width: 0;
			margin: 0;
			padding: 0 10px 10px;

			legend {
			  font-size: 11px;
			  font-weight: bold;
			  line-height: 14px;
			  margin: 0;
			  padding: 10px 0;
			  width: 115px;
			}
			input {
			  clear: both;
			  float: left;
			  margin: 4px 10px 4px 0;
			  padding: 0;
			}

			label {
			  display: inline-block;
			  float: left;
			  font-size: 12px;
			  font-weight: bold;
			  line-height: 24px;
			  -moz-transition: color .5s ease-in;
			  -webkit-transition: color .5s ease-in;
			  transition: color .5s ease-in;
			  margin: 0;
			  padding: 0;

			  &.checked {
				color: #090;
			  }
			}
		  }
		}

	  }
	  a {
		text-decoration: none;
		margin: 0 !important;
	  }
	}

	.button {

	  display: inline-block;
	  vertical-align: middle;
	  margin: 0 0 1rem 0;
	  font-family: inherit;
	  -webkit-appearance: none;
	  border: 1px solid $ssp-dummy-button-border;
	  border-radius: $ssp-global-radius;
	  transition: background-color 0.25s ease-out, color 0.25s ease-out;
	  line-height: 1;
	  text-align: center;
	  cursor: pointer;

	  background-color: $ssp-dummy-button-background;
	  color: $ssp-dummy-button-color;
	  font-size: $ssp-dummy-button-font-size;
	  font-weight: $ssp-dummy-button-font-weight;
	  padding: $ssp-dummy-button-padding;
	}
  }
  .start, .center, .end, .label {
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
  }

  /* Facebook begin */
  .facebook {
	display: inline-block;

	.fb_like {
	  iframe {
		width: 145px;
	  }
	}
  }

  div.fb_like_privacy_dummy {
	height:20px;
	padding-left:15px;

	span {
	  height:17px;
	  padding-top:3px;
	  display:block;
	  padding-right:5px;
	  position:relative;
	  left:5px;
	  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	  font-size: 11px;
	  line-height: 15px;
	  color:#575757;
	}
  }
  /* Facebook end */


  /* Twitter begin */
  div.tweet_this_dummy {
	float:left;
	height:20px;
	padding-left:15px;

	span {
	  float:left;
	  height:17px;
	  padding-top:3px;
	  display:block;
	  padding-right:5px;
	  position:relative;
	  left:5px;
	  font-family: 'Helvetica Neue', Arial, sans-serif;
	  font-size:11px;
	  line-height: 15px;
	  font-weight:bold;
	  color:#373737;
	}
  }
  /* Twitter end */

  /* Google+ begin */


  div.gplus_one_dummy {
	width: 32px;
	height: 20px;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	text-align: left;
	direction: ltr;
	*line-height: 0;
  }
  /* Google+ end */
}

.gplusone iframe {
  position: relative !important;
  top: -2px !important;
}


